@page "/home"
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager Navigation
@inject ToastService toastService
@inject HttpClient HttpClient
@inject IClientOpinionService ClientOpinionService
@layout ClientLayout


<AuthorizationWrapper AllowedRole="@null">

	@* social media likns *@
	<section id="top">
		<div class="container">
			<div class="row top_1">
				<div class="col-md-3">
					<div class="top_1l pt-1">
						<h3 class="mb-0"><a class="text-white"><i class="fa fa-video-camera col_red me-1"></i> Planet</a></h3>
					</div>
				</div>
				<div class="col-md-5">
					<div class="top_1m">
						<div class="input-group">
							<input type="text" class="form-control bg-black" placeholder="Search Site...">
							<span class="input-group-btn">
								<button class="btn btn text-white bg_red rounded-0 border-0" type="button">
									Search
								</button>
							</span>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="top_1r text-end">
						<ul class="social-network social-circle mb-0">
							<li><a class="icoRss" title="Rss"><i class="fa-brands fa-instagram"></i></a></li>
							<li><a class="icoFacebook" title="Facebook"><i class="fa-brands fa-facebook"></i></a></li>
							<li><a class="icoTwitter" title="Twitter"><i class="fa-brands fa-twitter"></i></a></li>
							<li><a class="icoGoogle" title="Google +"><i class="fa-brands fa-youtube"></i></a></li>
							<li><a class="icoLinkedin" title="Linkedin"><i class="fa-brands fa-linkedin"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>

	@* page links nav bar *@
	<section id="header">
		<nav class="navbar navbar-expand-md navbar-light" id="navbar_sticky">
			<div class="container">
				<a class="navbar-brand text-white fw-bold" href="index.html"><i class="fa fa-video-camera col_red me-1"></i> Planet</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mb-0">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="/home">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" @onclick="NavigateToTicketSale">Buy Ticket</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" @onclick="NavigateToOpinion">Leave your opinion ...</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</section>

	@* jumbutron  *@
	<section id="center" class="center_home">
		<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
			<div class="carousel-indicators">
				<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-label="Slide 1"></button>
				<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2" class="" aria-current="true"></button>
				<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
			</div>
			<div class="carousel-inner" style="min-height:600px;">

				@if (PosterData != null && PosterData.Any())
				{
					@foreach (var data in PosterData)
					{
						<div class="carousel-item @(data == PosterData.First() ? "active" : "")" style="min-height:600px;">
							<img src="@data.Poster" class="d-block w-100" alt="@data.Title" style="   max-height: 600px !important;
    object-fit: contain !important;
    display: block !important;">
							<div class="carousel-caption d-md-block">
								<h1 class="font_60">@data.Title</h1>
								<h6 class="mt-3">
									<span class="col_red me-3">
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-half-o"></i>
									</span>
									Year : @data.Year
									<a class="bg_red p-2 pe-4 ps-4 ms-3 text-white d-inline-block" href="#">Action</a>
								</h6>
								<h6 class="mt-4 mb-0">
									<a class="button"><i class="fa fa-play-circle align-middle me-1"></i> Type (@data.Type)</a>
								</h6>
							</div>
						</div>
					}
				}
				else
				{
					<Loader></Loader>
				}



			</div>
			<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
	</section>



	<section id="trend" class="pt-4 pb-5">
		<div class="container" >
			<div class="row trend_1">
				<div class="col-md-6 col-6">
					<div class="trend_1l">
						<h4 class="mb-0"><i class="fa fa-youtube-play align-middle col_red me-1"></i> Latest <span class="col_red">Movies</span></h4>
					</div>
				</div>
				<div class="col-md-6 col-6">
					<div class="trend_1r text-end">
						<h6 class="mb-0"><a class="button" href="#"> View All</a></h6>
					</div>
				</div>
			</div>
			<div class="row trend_2 mt-4">
				<div id="carouselExampleCaptions1" class="carousel slide" data-bs-ride="carousel">
					<div class="carousel-indicators">
						<button type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide-to="0" class="active" aria-label="Slide 1"></button>
						<button type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide-to="1" aria-label="Slide 2" class="" aria-current="true"></button>
					</div>
					<div class="carousel-inner">
						<div class="carousel-item active">
							<div class="trend_2i row">
								<div class="col-md-3 col-6">
									<div class="trend_2im clearfix position-relative">
										<div class="trend_2im1 clearfix">
											<div class="grid">
												<figure class="effect-jazz mb-0">
													<a href="#"><img src="img/4.jpg" class="w-100" alt="img25"></a>
												</figure>
											</div>
										</div>
										<div class="trend_2im2 clearfix text-center position-absolute w-100 top-0">
											<span class="fs-1"><a class="col_red" href="#"><i class="fa fa-youtube-play"></i></a></span>
										</div>
									</div>
									<div class="trend_2ilast bg_grey p-3 clearfix">
										<h5><a class="col_red" href="#">Semper</a></h5>
										<p class="mb-2">A father travels from Oklahoma to France to help his...</p>
										<span class="col_red">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</span>
										<p class="mb-0">1 Views</p>
									</div>
								</div>
								<div class="col-md-3 col-6">
									<div class="trend_2im clearfix position-relative">
										<div class="trend_2im1 clearfix">
											<div class="grid">
												<figure class="effect-jazz mb-0">
													<a href="#"><img src="img/5.jpg" class="w-100" alt="img25"></a>
												</figure>
											</div>
										</div>
										<div class="trend_2im2 clearfix text-center position-absolute w-100 top-0">
											<span class="fs-1"><a class="col_red" href="#"><i class="fa fa-youtube-play"></i></a></span>
										</div>
									</div>
									<div class="trend_2ilast bg_grey p-3 clearfix">
										<h5><a class="col_red" href="#">Dapibus</a></h5>
										<p class="mb-2">A father travels from Oklahoma to France to help his...</p>
										<span class="col_red">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</span>
										<p class="mb-0">1 Views</p>
									</div>
								</div>
								<div class="col-md-3 col-6">
									<div class="trend_2im clearfix position-relative">
										<div class="trend_2im1 clearfix">
											<div class="grid">
												<figure class="effect-jazz mb-0">
													<a href="#"><img src="img/6.jpg" class="w-100" alt="img25"></a>
												</figure>
											</div>
										</div>
										<div class="trend_2im2 clearfix text-center position-absolute w-100 top-0">
											<span class="fs-1"><a class="col_red" href="#"><i class="fa fa-youtube-play"></i></a></span>
										</div>
									</div>
									<div class="trend_2ilast bg_grey p-3 clearfix">
										<h5><a class="col_red" href="#">Ipsum</a></h5>
										<p class="mb-2">A father travels from Oklahoma to France to help his...</p>
										<span class="col_red">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</span>
										<p class="mb-0">1 Views</p>
									</div>
								</div>
								<div class="col-md-3 col-6">
									<div class="trend_2im clearfix position-relative">
										<div class="trend_2im1 clearfix">
											<div class="grid">
												<figure class="effect-jazz mb-0">
													<a href="#"><img src="img/7.jpg" class="w-100" alt="img25"></a>
												</figure>
											</div>
										</div>
										<div class="trend_2im2 clearfix text-center position-absolute w-100 top-0">
											<span class="fs-1"><a class="col_red" href="#"><i class="fa fa-youtube-play"></i></a></span>
										</div>
									</div>
									<div class="trend_2ilast bg_grey p-3 clearfix">
										<h5><a class="col_red" href="#">Lorem</a></h5>
										<p class="mb-2">A father travels from Oklahoma to France to help his...</p>
										<span class="col_red">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</span>
										<p class="mb-0">1 Views</p>
									</div>
								</div>
							</div>
						</div>
						<div class="carousel-item">
							<div class="trend_2i row">
								<div class="col-md-3 col-6">
									<div class="trend_2im clearfix position-relative">
										<div class="trend_2im1 clearfix">
											<div class="grid">
												<figure class="effect-jazz mb-0">
													<a href="#"><img src="img/8.jpg" class="w-100" alt="img25"></a>
												</figure>
											</div>
										</div>
										<div class="trend_2im2 clearfix text-center position-absolute w-100 top-0">
											<span class="fs-1"><a class="col_red" href="#"><i class="fa fa-youtube-play"></i></a></span>
										</div>
									</div>
									<div class="trend_2ilast bg_grey p-3 clearfix">
										<h5><a class="col_red" href="#">Semper</a></h5>
										<p class="mb-2">A father travels from Oklahoma to France to help his...</p>
										<span class="col_red">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</span>
										<p class="mb-0">1 Views</p>
									</div>
								</div>
								<div class="col-md-3 col-6">
									<div class="trend_2im clearfix position-relative">
										<div class="trend_2im1 clearfix">
											<div class="grid">
												<figure class="effect-jazz mb-0">
													<a href="#"><img src="img/9.jpg" class="w-100" alt="img25"></a>
												</figure>
											</div>
										</div>
										<div class="trend_2im2 clearfix text-center position-absolute w-100 top-0">
											<span class="fs-1"><a class="col_red" href="#"><i class="fa fa-youtube-play"></i></a></span>
										</div>
									</div>
									<div class="trend_2ilast bg_grey p-3 clearfix">
										<h5><a class="col_red" href="#">Dapibus</a></h5>
										<p class="mb-2">A father travels from Oklahoma to France to help his...</p>
										<span class="col_red">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</span>
										<p class="mb-0">1 Views</p>
									</div>
								</div>
								<div class="col-md-3 col-6">
									<div class="trend_2im clearfix position-relative">
										<div class="trend_2im1 clearfix">
											<div class="grid">
												<figure class="effect-jazz mb-0">
													<a href="#"><img src="img/10.jpg" class="w-100" alt="img25"></a>
												</figure>
											</div>
										</div>
										<div class="trend_2im2 clearfix text-center position-absolute w-100 top-0">
											<span class="fs-1"><a class="col_red" href="#"><i class="fa fa-youtube-play"></i></a></span>
										</div>
									</div>
									<div class="trend_2ilast bg_grey p-3 clearfix">
										<h5><a class="col_red" href="#">Ipsum</a></h5>
										<p class="mb-2">A father travels from Oklahoma to France to help his...</p>
										<span class="col_red">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</span>
										<p class="mb-0">1 Views</p>
									</div>
								</div>
								<div class="col-md-3 col-6">
									<div class="trend_2im clearfix position-relative">
										<div class="trend_2im1 clearfix">
											<div class="grid">
												<figure class="effect-jazz mb-0">
													<a href="#"><img src="img/11.jpg" class="w-100" alt="img25"></a>
												</figure>
											</div>
										</div>
										<div class="trend_2im2 clearfix text-center position-absolute w-100 top-0">
											<span class="fs-1"><a class="col_red" href="#"><i class="fa fa-youtube-play"></i></a></span>
										</div>
									</div>
									<div class="trend_2ilast bg_grey p-3 clearfix">
										<h5><a class="col_red" href="#">Lorem</a></h5>
										<p class="mb-2">A father travels from Oklahoma to France to help his...</p>
										<span class="col_red">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
										</span>
										<p class="mb-0">1 Views</p>
									</div>
								</div>
							</div>
						</div>

					</div>

				</div>
			</div>
		</div>
	</section>
	<br />
	<br />
	<br />

	@* show client comments  *@
	
	<style>
		.customimg{
			width:150px;
			object-fit:contain;
			margin:5px auto;
			display:block;
			border-radius:10px;
		}

		.inner-container {
			display:flex;
			flex-direction:row;
			justify-content:space-between;
			align-items:center;
		}

		.card-text-custom{
			color:black !important;
			font-weight: bolder !important;
			text-align:center;
		}

		.inner-container ~ button{
			margin:50px 0 ;
		}
		.card-custom{
			cursor:pointer;
		}
	</style>

	<div class="container" >
		<div class="inner-container">
			@foreach (var opinion in this.ClientOpinions)
			{
				<div class="card card-custom" style="width: 18rem;">
					<img class="card-img-top customimg" src="@(opinion.ClientProfile.profileImgUrl.Trim().Length > 0 ? opinion.ClientProfile.profileImgUrl : SD.anonimousProfileImage)" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">@(opinion.ClientProfile.AppUser.FullName)
							<span style="font-size:14px;">@(opinion.ClientProfile.showEmail ? opinion.ClientProfile.AppUser.Email : "")</span></h5>
						<p class="card-text card-text-custom">@(opinion.Header)</p>
					</div>
				</div>
			}

		</div>
		<button type="button" class="btn btn-primary" @onclick="goToclientOpinions">click here to see all comments</button>
	</div>

	<section id="popular" class="pt-4 pb-5 bg_grey">
		<div class="container">
			<div class="row trend_1">
				<div class="col-md-12">
					<div class="trend_1l">
						<h4 class="mb-0"><i class="fa fa-youtube-play align-middle col_red me-1"></i> Trending <span class="col_red">Events</span></h4>
					</div>
				</div>
			</div>
			<div class="row popular_1 mt-4">
				<ul class="nav nav-tabs  border-0 mb-0">
					<li class="nav-item">
						<a href="#home" data-bs-toggle="tab" aria-expanded="false" class="nav-link active">
							<span class="d-md-block">JUST ARRIVED</span>
						</a>
					</li>
					<li class="nav-item">
						<a href="#profile" data-bs-toggle="tab" aria-expanded="true" class="nav-link">
							<span class="d-md-block">POPULAR EVENTS</span>
						</a>
					</li>
					<li class="nav-item">
						<a href="#settings" data-bs-toggle="tab" aria-expanded="false" class="nav-link">
							<span class="d-md-block">TV SHOWS</span>
						</a>
					</li>
					<li class="nav-item">
						<a href="#settings_o" data-bs-toggle="tab" aria-expanded="false" class="nav-link">
							<span class="d-md-block">FREE MOVIES</span>
						</a>
					</li>

				</ul>
			</div>
			<div class="popular_2 row mt-4">
				<div class="tab-content">
					<div class="tab-pane active" id="home">
						<div class="popular_2i row">
							<div class="col-md-6">
								<div class="popular_2i1 row">
									<div class="col-md-4 col-4">
										<div class="popular_2i1lm position-relative clearfix">
											<div class="popular_2i1lm1 clearfix">
												<div class="grid">
													<figure class="effect-jazz mb-0">
														<a href="#"><img src="img/18.jpg" class="w-100" alt="img25"></a>
													</figure>
												</div>
											</div>
											<div class="popular_2i1lm2 position-absolute top-0 w-100 text-center clearfix">
												<ul>
													<li class="d-inline-block"><a href="#"><i class="fa fa-link col_red"></i></a></li>
													<li class="d-inline-block"><a href="#"><i class="fa fa-search col_red"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="col-md-8 col-8">
										<div class="popular_2i1r">
											<h5><a class="col_red" href="#">Semp Porta</a></h5>
											<h6>Action, Thriller</h6>
											<h6> Imdb 8.2  <span class="ms-2"><i class="fa fa-star col_red me-1"></i></span> Year : 2022 <span class="ms-2">Runtime: 1h 49m</span></h6>
											<p>Four waves of increasingly deadly alien attacks have left most of  ruin. Cassie is on the run, desperately trying to save her younger brother.</p>
											<h6 class="mb-0"><a class="button" href="#"> More Info - Trailer</a></h6>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="popular_2i1 row">
									<div class="col-md-4 col-4">
										<div class="popular_2i1lm position-relative clearfix">
											<div class="popular_2i1lm1 clearfix">
												<div class="grid">
													<figure class="effect-jazz mb-0">
														<a href="#"><img src="img/19.jpg" class="w-100" alt="img25"></a>
													</figure>
												</div>
											</div>
											<div class="popular_2i1lm2 position-absolute top-0 w-100 text-center clearfix">
												<ul>
													<li class="d-inline-block"><a href="#"><i class="fa fa-link col_red"></i></a></li>
													<li class="d-inline-block"><a href="#"><i class="fa fa-search col_red"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="col-md-8 col-8">
										<div class="popular_2i1r">
											<h5><a class="col_red" href="#">Eget Diam</a></h5>
											<h6>Action, Thriller</h6>
											<h6> Imdb 8.3  <span class="ms-2"><i class="fa fa-star col_red me-1"></i></span> Year : 2022 <span class="ms-2">Runtime: 2h 29m</span></h6>
											<p>Four waves of increasingly deadly alien attacks have left most of  ruin. Cassie is on the run, desperately trying to save her younger brother.</p>
											<h6 class="mb-0"><a class="button" href="#"> More Info - Trailer</a></h6>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="popular_2i row mt-4">
							<div class="col-md-6">
								<div class="popular_2i1 row">
									<div class="col-md-4 col-4">
										<div class="popular_2i1lm position-relative clearfix">
											<div class="popular_2i1lm1 clearfix">
												<div class="grid">
													<figure class="effect-jazz mb-0">
														<a href="#"><img src="img/20.jpg" class="w-100" alt="img25"></a>
													</figure>
												</div>
											</div>
											<div class="popular_2i1lm2 position-absolute top-0 w-100 text-center clearfix">
												<ul>
													<li class="d-inline-block"><a href="#"><i class="fa fa-link col_red"></i></a></li>
													<li class="d-inline-block"><a href="#"><i class="fa fa-search col_red"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="col-md-8 col-8">
										<div class="popular_2i1r">
											<h5><a class="col_red" href="#">Quis Sem</a></h5>
											<h6>Action, Thriller</h6>
											<h6> Imdb 8.4  <span class="ms-2"><i class="fa fa-star col_red me-1"></i></span> Year : 2022 <span class="ms-2">Runtime: 1h 59m</span></h6>
											<p>Four waves of increasingly deadly alien attacks have left most of  ruin. Cassie is on the run, desperately trying to save her younger brother.</p>
											<h6 class="mb-0"><a class="button" href="#"> More Info - Trailer</a></h6>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="popular_2i1 row">
									<div class="col-md-4 col-4">
										<div class="popular_2i1lm position-relative clearfix">
											<div class="popular_2i1lm1 clearfix">
												<div class="grid">
													<figure class="effect-jazz mb-0">
														<a href="#"><img src="img/21.jpg" class="w-100" alt="img25"></a>
													</figure>
												</div>
											</div>
											<div class="popular_2i1lm2 position-absolute top-0 w-100 text-center clearfix">
												<ul>
													<li class="d-inline-block"><a href="#"><i class="fa fa-link col_red"></i></a></li>
													<li class="d-inline-block"><a href="#"><i class="fa fa-search col_red"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="col-md-8 col-8">
										<div class="popular_2i1r">
											<h5><a class="col_red" href="#">Ipsum Lorem</a></h5>
											<h6>Action, Thriller</h6>
											<h6> Imdb 8.6  <span class="ms-2"><i class="fa fa-star col_red me-1"></i></span> Year : 2022 <span class="ms-2">Runtime: 1h 48m</span></h6>
											<p>Four waves of increasingly deadly alien attacks have left most of  ruin. Cassie is on the run, desperately trying to save her younger brother.</p>
											<h6 class="mb-0"><a class="button" href="#"> More Info - Trailer</a></h6>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane" id="profile">
						<div class="popular_2i row">
							<div class="col-md-6">
								<div class="popular_2i1 row">
									<div class="col-md-4 col-4">
										<div class="popular_2i1lm position-relative clearfix">
											<div class="popular_2i1lm1 clearfix">
												<div class="grid">
													<figure class="effect-jazz mb-0">
														<a href="#"><img src="img/22.jpg" class="w-100" alt="img25"></a>
													</figure>
												</div>
											</div>
											<div class="popular_2i1lm2 position-absolute top-0 w-100 text-center clearfix">
												<ul>
													<li class="d-inline-block"><a href="#"><i class="fa fa-link col_red"></i></a></li>
													<li class="d-inline-block"><a href="#"><i class="fa fa-search col_red"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="col-md-8 col-8">
										<div class="popular_2i1r">
											<h5><a class="col_red" href="#">Semp Porta</a></h5>
											<h6>Action, Thriller</h6>
											<h6> Imdb 8.2  <span class="ms-2"><i class="fa fa-star col_red me-1"></i></span> Year : 2022 <span class="ms-2">Runtime: 1h 49m</span></h6>
											<p>Four waves of increasingly deadly alien attacks have left most of  ruin. Cassie is on the run, desperately trying to save her younger brother.</p>
											<h6 class="mb-0"><a class="button" href="#"> More Info - Trailer</a></h6>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="popular_2i1 row">
									<div class="col-md-4 col-4">
										<div class="popular_2i1lm position-relative clearfix">
											<div class="popular_2i1lm1 clearfix">
												<div class="grid">
													<figure class="effect-jazz mb-0">
														<a href="#"><img src="img/23.jpg" class="w-100" alt="img25"></a>
													</figure>
												</div>
											</div>
											<div class="popular_2i1lm2 position-absolute top-0 w-100 text-center clearfix">
												<ul>
													<li class="d-inline-block"><a href="#"><i class="fa fa-link col_red"></i></a></li>
													<li class="d-inline-block"><a href="#"><i class="fa fa-search col_red"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="col-md-8 col-8">
										<div class="popular_2i1r">
											<h5><a class="col_red" href="#">Eget Diam</a></h5>
											<h6>Action, Thriller</h6>
											<h6> Imdb 8.3  <span class="ms-2"><i class="fa fa-star col_red me-1"></i></span> Year : 2022 <span class="ms-2">Runtime: 2h 29m</span></h6>
											<p>Four waves of increasingly deadly alien attacks have left most of  ruin. Cassie is on the run, desperately trying to save her younger brother.</p>
											<h6 class="mb-0"><a class="button" href="#"> More Info - Trailer</a></h6>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="popular_2i row mt-4">
							<div class="col-md-6">
								<div class="popular_2i1 row">
									<div class="col-md-4 col-4">
										<div class="popular_2i1lm position-relative clearfix">
											<div class="popular_2i1lm1 clearfix">
												<div class="grid">
													<figure class="effect-jazz mb-0">
														<a href="#"><img src="img/24.jpg" class="w-100" alt="img25"></a>
													</figure>
												</div>
											</div>
											<div class="popular_2i1lm2 position-absolute top-0 w-100 text-center clearfix">
												<ul>
													<li class="d-inline-block"><a href="#"><i class="fa fa-link col_red"></i></a></li>
													<li class="d-inline-block"><a href="#"><i class="fa fa-search col_red"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="col-md-8 col-8">
										<div class="popular_2i1r">
											<h5><a class="col_red" href="#">Quis Sem</a></h5>
											<h6>Action, Thriller</h6>
											<h6> Imdb 8.4  <span class="ms-2"><i class="fa fa-star col_red me-1"></i></span> Year : 2022 <span class="ms-2">Runtime: 1h 59m</span></h6>
											<p>Four waves of increasingly deadly alien attacks have left most of  ruin. Cassie is on the run, desperately trying to save her younger brother.</p>
											<h6 class="mb-0"><a class="button" href="#"> More Info - Trailer</a></h6>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="popular_2i1 row">
									<div class="col-md-4 col-4">
										<div class="popular_2i1lm position-relative clearfix">
											<div class="popular_2i1lm1 clearfix">
												<div class="grid">
													<figure class="effect-jazz mb-0">
														<a href="#"><img src="img/25.jpg" class="w-100" alt="img25"></a>
													</figure>
												</div>
											</div>
											<div class="popular_2i1lm2 position-absolute top-0 w-100 text-center clearfix">
												<ul>
													<li class="d-inline-block"><a href="#"><i class="fa fa-link col_red"></i></a></li>
													<li class="d-inline-block"><a href="#"><i class="fa fa-search col_red"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="col-md-8 col-8">
										<div class="popular_2i1r">
											<h5><a class="col_red" href="#">Ipsum Lorem</a></h5>
											<h6>Action, Thriller</h6>
											<h6> Imdb 8.6  <span class="ms-2"><i class="fa fa-star col_red me-1"></i></span> Year : 2022 <span class="ms-2">Runtime: 1h 48m</span></h6>
											<p>Four waves of increasingly deadly alien attacks have left most of  ruin. Cassie is on the run, desperately trying to save her younger brother.</p>
											<h6 class="mb-0"><a class="button" href="#"> More Info - Trailer</a></h6>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane" id="settings">
						<div class="popular_2i row">
							<div class="col-md-6">
								<div class="popular_2i1 row">
									<div class="col-md-4 col-4">
										<div class="popular_2i1lm position-relative clearfix">
											<div class="popular_2i1lm1 clearfix">
												<div class="grid">
													<figure class="effect-jazz mb-0">
														<a href="#"><img src="img/26.jpg" class="w-100" alt="img25"></a>
													</figure>
												</div>
											</div>
											<div class="popular_2i1lm2 position-absolute top-0 w-100 text-center clearfix">
												<ul>
													<li class="d-inline-block"><a href="#"><i class="fa fa-link col_red"></i></a></li>
													<li class="d-inline-block"><a href="#"><i class="fa fa-search col_red"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="col-md-8 col-8">
										<div class="popular_2i1r">
											<h5><a class="col_red" href="#">Semp Porta</a></h5>
											<h6>Action, Thriller</h6>
											<h6> Imdb 8.2  <span class="ms-2"><i class="fa fa-star col_red me-1"></i></span> Year : 2022 <span class="ms-2">Runtime: 1h 49m</span></h6>
											<p>Four waves of increasingly deadly alien attacks have left most of  ruin. Cassie is on the run, desperately trying to save her younger brother.</p>
											<h6 class="mb-0"><a class="button" href="#"> More Info - Trailer</a></h6>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="popular_2i1 row">
									<div class="col-md-4 col-4">
										<div class="popular_2i1lm position-relative clearfix">
											<div class="popular_2i1lm1 clearfix">
												<div class="grid">
													<figure class="effect-jazz mb-0">
														<a href="#"><img src="img/27.jpg" class="w-100" alt="img25"></a>
													</figure>
												</div>
											</div>
											<div class="popular_2i1lm2 position-absolute top-0 w-100 text-center clearfix">
												<ul>
													<li class="d-inline-block"><a href="#"><i class="fa fa-link col_red"></i></a></li>
													<li class="d-inline-block"><a href="#"><i class="fa fa-search col_red"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="col-md-8 col-8">
										<div class="popular_2i1r">
											<h5><a class="col_red" href="#">Eget Diam</a></h5>
											<h6>Action, Thriller</h6>
											<h6> Imdb 8.3  <span class="ms-2"><i class="fa fa-star col_red me-1"></i></span> Year : 2022 <span class="ms-2">Runtime: 2h 29m</span></h6>
											<p>Four waves of increasingly deadly alien attacks have left most of  ruin. Cassie is on the run, desperately trying to save her younger brother.</p>
											<h6 class="mb-0"><a class="button" href="#"> More Info - Trailer</a></h6>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="popular_2i row mt-4">
							<div class="col-md-6">
								<div class="popular_2i1 row">
									<div class="col-md-4 col-4">
										<div class="popular_2i1lm position-relative clearfix">
											<div class="popular_2i1lm1 clearfix">
												<div class="grid">
													<figure class="effect-jazz mb-0">
														<a href="#"><img src="img/28.jpg" class="w-100" alt="img25"></a>
													</figure>
												</div>
											</div>
											<div class="popular_2i1lm2 position-absolute top-0 w-100 text-center clearfix">
												<ul>
													<li class="d-inline-block"><a href="#"><i class="fa fa-link col_red"></i></a></li>
													<li class="d-inline-block"><a href="#"><i class="fa fa-search col_red"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="col-md-8 col-8">
										<div class="popular_2i1r">
											<h5><a class="col_red" href="#">Quis Sem</a></h5>
											<h6>Action, Thriller</h6>
											<h6> Imdb 8.4  <span class="ms-2"><i class="fa fa-star col_red me-1"></i></span> Year : 2022 <span class="ms-2">Runtime: 1h 59m</span></h6>
											<p>Four waves of increasingly deadly alien attacks have left most of  ruin. Cassie is on the run, desperately trying to save her younger brother.</p>
											<h6 class="mb-0"><a class="button" href="#"> More Info - Trailer</a></h6>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="popular_2i1 row">
									<div class="col-md-4 col-4">
										<div class="popular_2i1lm position-relative clearfix">
											<div class="popular_2i1lm1 clearfix">
												<div class="grid">
													<figure class="effect-jazz mb-0">
														<a href="#"><img src="img/29.jpg" class="w-100" alt="img25"></a>
													</figure>
												</div>
											</div>
											<div class="popular_2i1lm2 position-absolute top-0 w-100 text-center clearfix">
												<ul>
													<li class="d-inline-block"><a href="#"><i class="fa fa-link col_red"></i></a></li>
													<li class="d-inline-block"><a href="#"><i class="fa fa-search col_red"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="col-md-8 col-8">
										<div class="popular_2i1r">
											<h5><a class="col_red" href="#">Ipsum Lorem</a></h5>
											<h6>Action, Thriller</h6>
											<h6> Imdb 8.6  <span class="ms-2"><i class="fa fa-star col_red me-1"></i></span> Year : 2022 <span class="ms-2">Runtime: 1h 48m</span></h6>
											<p>Four waves of increasingly deadly alien attacks have left most of  ruin. Cassie is on the run, desperately trying to save her younger brother.</p>
											<h6 class="mb-0"><a class="button" href="#"> More Info - Trailer</a></h6>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="tab-pane" id="settings_o">
						<div class="popular_2i row">
							<div class="col-md-6">
								<div class="popular_2i1 row">
									<div class="col-md-4 col-4">
										<div class="popular_2i1lm position-relative clearfix">
											<div class="popular_2i1lm1 clearfix">
												<div class="grid">
													<figure class="effect-jazz mb-0">
														<a href="#"><img src="img/18.jpg" class="w-100" alt="img25"></a>
													</figure>
												</div>
											</div>
											<div class="popular_2i1lm2 position-absolute top-0 w-100 text-center clearfix">
												<ul>
													<li class="d-inline-block"><a href="#"><i class="fa fa-link col_red"></i></a></li>
													<li class="d-inline-block"><a href="#"><i class="fa fa-search col_red"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="col-md-8 col-8">
										<div class="popular_2i1r">
											<h5><a class="col_red" href="#">Semp Porta</a></h5>
											<h6>Action, Thriller</h6>
											<h6> Imdb 8.2  <span class="ms-2"><i class="fa fa-star col_red me-1"></i></span> Year : 2022 <span class="ms-2">Runtime: 1h 49m</span></h6>
											<p>Four waves of increasingly deadly alien attacks have left most of  ruin. Cassie is on the run, desperately trying to save her younger brother.</p>
											<h6 class="mb-0"><a class="button" href="#"> More Info - Trailer</a></h6>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="popular_2i1 row">
									<div class="col-md-4 col-4">
										<div class="popular_2i1lm position-relative clearfix">
											<div class="popular_2i1lm1 clearfix">
												<div class="grid">
													<figure class="effect-jazz mb-0">
														<a href="#"><img src="img/19.jpg" class="w-100" alt="img25"></a>
													</figure>
												</div>
											</div>
											<div class="popular_2i1lm2 position-absolute top-0 w-100 text-center clearfix">
												<ul>
													<li class="d-inline-block"><a href="#"><i class="fa fa-link col_red"></i></a></li>
													<li class="d-inline-block"><a href="#"><i class="fa fa-search col_red"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="col-md-8 col-8">
										<div class="popular_2i1r">
											<h5><a class="col_red" href="#">Eget Diam</a></h5>
											<h6>Action, Thriller</h6>
											<h6> Imdb 8.3  <span class="ms-2"><i class="fa fa-star col_red me-1"></i></span> Year : 2022 <span class="ms-2">Runtime: 2h 29m</span></h6>
											<p>Four waves of increasingly deadly alien attacks have left most of  ruin. Cassie is on the run, desperately trying to save her younger brother.</p>
											<h6 class="mb-0"><a class="button" href="#"> More Info - Trailer</a></h6>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="popular_2i row mt-4">
							<div class="col-md-6">
								<div class="popular_2i1 row">
									<div class="col-md-4 col-4">
										<div class="popular_2i1lm position-relative clearfix">
											<div class="popular_2i1lm1 clearfix">
												<div class="grid">
													<figure class="effect-jazz mb-0">
														<a href="#"><img src="img/20.jpg" class="w-100" alt="img25"></a>
													</figure>
												</div>
											</div>
											<div class="popular_2i1lm2 position-absolute top-0 w-100 text-center clearfix">
												<ul>
													<li class="d-inline-block"><a href="#"><i class="fa fa-link col_red"></i></a></li>
													<li class="d-inline-block"><a href="#"><i class="fa fa-search col_red"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="col-md-8 col-8">
										<div class="popular_2i1r">
											<h5><a class="col_red" href="#">Quis Sem</a></h5>
											<h6>Action, Thriller</h6>
											<h6> Imdb 8.4  <span class="ms-2"><i class="fa fa-star col_red me-1"></i></span> Year : 2022 <span class="ms-2">Runtime: 1h 59m</span></h6>
											<p>Four waves of increasingly deadly alien attacks have left most of  ruin. Cassie is on the run, desperately trying to save her younger brother.</p>
											<h6 class="mb-0"><a class="button" href="#"> More Info - Trailer</a></h6>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="popular_2i1 row">
									<div class="col-md-4 col-4">
										<div class="popular_2i1lm position-relative clearfix">
											<div class="popular_2i1lm1 clearfix">
												<div class="grid">
													<figure class="effect-jazz mb-0">
														<a href="#"><img src="img/21.jpg" class="w-100" alt="img25"></a>
													</figure>
												</div>
											</div>
											<div class="popular_2i1lm2 position-absolute top-0 w-100 text-center clearfix">
												<ul>
													<li class="d-inline-block"><a href="#"><i class="fa fa-link col_red"></i></a></li>
													<li class="d-inline-block"><a href="#"><i class="fa fa-search col_red"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="col-md-8 col-8">
										<div class="popular_2i1r">
											<h5><a class="col_red" href="#">Ipsum Lorem</a></h5>
											<h6>Action, Thriller</h6>
											<h6> Imdb 8.6  <span class="ms-2"><i class="fa fa-star col_red me-1"></i></span> Year : 2022 <span class="ms-2">Runtime: 1h 48m</span></h6>
											<p>Four waves of increasingly deadly alien attacks have left most of  ruin. Cassie is on the run, desperately trying to save her younger brother.</p>
											<h6 class="mb-0"><a class="button" href="#"> More Info - Trailer</a></h6>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>

	<section id="choice" class="pt-4 pb-5">
		<div class="container">
			<div class="row trend_1">
				<div class="col-md-6 col-6">
					<div class="trend_1l">
						<h4 class="mb-0"><i class="fa fa-youtube-play align-middle col_red me-1"></i> Director's  <span class="col_red">Choice</span></h4>
					</div>
				</div>
				<div class="col-md-6 col-6">
					<div class="trend_1r text-end">
						<h6 class="mb-0"><a class="button" href="#"> View All</a></h6>
					</div>
				</div>
			</div>
			<div class="row trend_2 mt-4">
				<div id="carouselExampleCaptions3" class="carousel slide" data-bs-ride="carousel">
					<div class="carousel-indicators">
						<button type="button" data-bs-target="#carouselExampleCaptions3" data-bs-slide-to="0" class="active" aria-label="Slide 1"></button>
						<button type="button" data-bs-target="#carouselExampleCaptions3" data-bs-slide-to="1" aria-label="Slide 2" class="" aria-current="true"></button>
					</div>
					<div class="carousel-inner">
						<div class="carousel-item active">
							<div class="trend_2i row">
								<div class="col-md-4">
									<div class="trend_2im clearfix position-relative">
										<div class="trend_2im1 clearfix">
											<div class="grid">
												<figure class="effect-jazz mb-0">
													<a href="#"><img src="img/12.jpg" class="w-100" alt="img25"></a>
												</figure>
											</div>
										</div>
										<div class="trend_2im2 clearfix  position-absolute w-100 top-0">
											<h5><a class="col_red" href="#">Semper</a></h5>
											<span class="col_red">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</span>
											<p class="mb-0">2 Views</p>
										</div>
									</div>

								</div>
								<div class="col-md-4">
									<div class="trend_2im clearfix position-relative">
										<div class="trend_2im1 clearfix">
											<div class="grid">
												<figure class="effect-jazz mb-0">
													<a href="#"><img src="img/13.jpg" class="w-100" alt="img25"></a>
												</figure>
											</div>
										</div>
										<div class="trend_2im2 clearfix  position-absolute w-100 top-0">
											<h5><a class="col_red" href="#">Lorem</a></h5>
											<span class="col_red">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</span>
											<p class="mb-0">1 Views</p>
										</div>
									</div>

								</div>
								<div class="col-md-4">
									<div class="trend_2im clearfix position-relative">
										<div class="trend_2im1 clearfix">
											<div class="grid">
												<figure class="effect-jazz mb-0">
													<a href="#"><img src="img/14.jpg" class="w-100" alt="img25"></a>
												</figure>
											</div>
										</div>
										<div class="trend_2im2 clearfix  position-absolute w-100 top-0">
											<h5><a class="col_red" href="#">Porta</a></h5>
											<span class="col_red">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</span>
											<p class="mb-0">4 Views</p>
										</div>
									</div>

								</div>

							</div>
						</div>
						<div class="carousel-item">
							<div class="trend_2i row">

								<div class="col-md-4">
									<div class="trend_2im clearfix position-relative">
										<div class="trend_2im1 clearfix">
											<div class="grid">
												<figure class="effect-jazz mb-0">
													<a href="#"><img src="img/15.jpg" class="w-100" alt="img25"></a>
												</figure>
											</div>
										</div>
										<div class="trend_2im2 clearfix  position-absolute w-100 top-0">
											<h5><a class="col_red" href="#">Porta</a></h5>
											<span class="col_red">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</span>
											<p class="mb-0">4 Views</p>
										</div>
									</div>

								</div>
								<div class="col-md-4">
									<div class="trend_2im clearfix position-relative">
										<div class="trend_2im1 clearfix">
											<div class="grid">
												<figure class="effect-jazz mb-0">
													<a href="#"><img src="img/16.jpg" class="w-100" alt="img25"></a>
												</figure>
											</div>
										</div>
										<div class="trend_2im2 clearfix  position-absolute w-100 top-0">
											<h5><a class="col_red" href="#">Dapibus</a></h5>
											<span class="col_red">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</span>
											<p class="mb-0">6 Views</p>
										</div>
									</div>

								</div>
								<div class="col-md-4">
									<div class="trend_2im clearfix position-relative">
										<div class="trend_2im1 clearfix">
											<div class="grid">
												<figure class="effect-jazz mb-0">
													<a href="#"><img src="img/17.jpg" class="w-100" alt="img25"></a>
												</figure>
											</div>
										</div>
										<div class="trend_2im2 clearfix  position-absolute w-100 top-0">
											<h5><a class="col_red" href="#">Nulla</a></h5>
											<span class="col_red">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</span>
											<p class="mb-0">5 Views</p>
										</div>
									</div>


								</div>
							</div>
						</div>

					</div>

				</div>
			</div>
		</div>
	</section>

	<section id="play">
		<div class="play_m clearfix">
			<div class="container">
				<div class="row trend_1">
					<div class="col-md-12">
						<div class="trend_1l">
							<h4 class="mb-0"><i class="fa fa-youtube-play align-middle col_red me-1"></i> Top   <span class="col_red">10 Playlist</span></h4>
						</div>
					</div>
				</div>
				<div class="play1 row mt-4 bg_grey pt-3 pb-3">
					<div class="col-md-9">
						<div class="play1l">
							<div class="grid clearfix">
								<figure class="effect-jazz mb-0">
									<a href="#"><img src="img/2.jpg" class="w-100" height="450" alt="abc"></a>
								</figure>
							</div>
						</div>
					</div>
					<div class="col-md-3 ps-0">
						<div class="play1r">
							<div class="play1ri">
								<div class="grid clearfix">
									<figure class="effect-jazz mb-0">
										<a href="#"><img src="img/4.jpg" class="w-100" alt="abc"></a>
									</figure>
								</div>
							</div>
							<div class="play1ri mt-3">
								<div class="grid clearfix">
									<figure class="effect-jazz mb-0">
										<a href="#"><img src="img/5.jpg" class="w-100" alt="abc"></a>
									</figure>
								</div>
							</div>
							<div class="play1ri mt-3">
								<div class="grid clearfix">
									<figure class="effect-jazz mb-0">
										<a href="#"><img src="img/6.jpg" class="w-100" alt="abc"></a>
									</figure>
								</div>
							</div>
							<div class="play1ri mt-3">
								<div class="grid clearfix">
									<figure class="effect-jazz mb-0">
										<a href="#"><img src="img/7.jpg" class="w-100" alt="abc"></a>
									</figure>
								</div>
							</div>
							<div class="play1ri mt-3">
								<div class="grid clearfix">
									<figure class="effect-jazz mb-0">
										<a href="#"><img src="img/8.jpg" class="w-100" alt="abc"></a>
									</figure>
								</div>
							</div>
							<div class="play1ri mt-3">
								<div class="grid clearfix">
									<figure class="effect-jazz mb-0">
										<a href="#"><img src="img/9.jpg" class="w-100" alt="abc"></a>
									</figure>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="play2 row mt-4">
					<div class="col-md-4 p-0">
						<div class="play2l">
							<div class="grid clearfix">
								<figure class="effect-jazz mb-0">
									<a href="#"><img src="img/31.jpg" height="515" class="w-100" alt="abc"></a>
								</figure>
							</div>
						</div>
					</div>
					<div class="col-md-8 p-0">
						<div class="play2r  bg_grey p-4">
							<h5>
								<span class="col_red">BEST MOVIE OF THE MONTH :</span> LIAM NEESON <span class="col_red">BLACKLIGHT</span><br>
								THEY’RE GONNA NEED MORE MEN
							</h5>
							<h5 class="mt-3">Thriller</h5>
							<hr class="line">
							<p class="mt-3">A humble businessman with a buried past seeks justice when his daughter is killed in an act of terrorism. A cat-and-mouse conflict ensues with a government official, whose past may hold clues to the killers' identities.</p>
							<div class="play2ri row mt-4">
								<div class="col-md-6">
									<div class="play2ril">
										<h6 class="fw-normal">
											Running Time: <span class="pull-right">1 hr 50 min</span>
										</h6>
										<hr class="hr_1">
										<h6 class="fw-normal">
											Genre: <span class="pull-right">Action, Thriller</span>
										</h6>
										<hr class="hr_1">
										<h6 class="fw-normal">
											Director: <span class="pull-right">Eget Nulla</span>
										</h6>
										<hr class="hr_1">
										<h6 class="fw-normal">
											Stars: <span class="pull-right">Semp Port, Dapibus Diam</span>
										</h6>
										<hr class="hr_1">
										<h6 class="fw-normal">
											Release Date: <span class="pull-right">2023</span>
										</h6>
										<hr class="hr_1 mb-0">
									</div>
								</div>
								<div class="col-md-6">
									<div class="play2rir">
										<h6 class="fw-normal">Imdb - 9.2</h6>
										<div class="progress">
											<div class="progress-bar" role="progressbar" style="width: 92%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
										<h6 class="fw-normal mt-3">Semper - 7.3</h6>
										<div class="progress">
											<div class="progress-bar" role="progressbar" style="width: 73%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
										<h6 class="fw-normal mt-3">Dapibus - 9.0</h6>
										<div class="progress">
											<div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
										<h6 class="fw-normal mt-3">Ipsum - 8.3</h6>
										<div class="progress">
											<div class="progress-bar" role="progressbar" style="width: 83%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
										<h6 class="fw-normal mt-3">Lorem - 7.9</h6>
										<div class="progress">
											<div class="progress-bar" role="progressbar" style="width: 79%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="stream" class="pb-5 pt-4">
		<div class="container">
			<div class="row trend_1">
				<div class="col-md-6 col-6">
					<div class="trend_1l">
						<h4 class="mb-0"><i class="fa fa-youtube-play align-middle col_red me-1"></i> Movie   <span class="col_red">Streaming Services</span></h4>
					</div>
				</div>
				<div class="col-md-6 col-6">
					<div class="trend_1r text-end">
						<h6 class="mb-0"><a class="button" href="#"> View All</a></h6>
					</div>
				</div>
			</div>
			<div class="row trend_2 mt-4">
				<div id="carouselExampleCaptions4" class="carousel slide" data-bs-ride="carousel">
					<div class="carousel-indicators">
						<button type="button" data-bs-target="#carouselExampleCaptions4" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
						<button type="button" data-bs-target="#carouselExampleCaptions4" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
					</div>
					<div class="carousel-inner">
						<div class="carousel-item active">
							<div class="trend_2i row">
								<div class="col">
									<div class="trend_2im clearfix position-relative">
										<div class="trend_2im1 clearfix">
											<div class="grid">
												<figure class="effect-jazz mb-0">
													<a href="#"><img src="img/4.jpg" class="w-100" alt="img25"></a>
												</figure>
											</div>
										</div>
										<div class="trend_2im2 clearfix  position-absolute w-100 top-0">
											<h5><a class="col_red" href="#">Semper</a></h5>
											<span class="col_red">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</span>
											<p class="mb-0">2 Views</p>
										</div>
									</div>

								</div>
								<div class="col">
									<div class="trend_2im clearfix position-relative">
										<div class="trend_2im1 clearfix">
											<div class="grid">
												<figure class="effect-jazz mb-0">
													<a href="#"><img src="img/5.jpg" class="w-100" alt="img25"></a>
												</figure>
											</div>
										</div>
										<div class="trend_2im2 clearfix  position-absolute w-100 top-0">
											<h5><a class="col_red" href="#">Semper</a></h5>
											<span class="col_red">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</span>
											<p class="mb-0">2 Views</p>
										</div>
									</div>

								</div>
								<div class="col">
									<div class="trend_2im clearfix position-relative">
										<div class="trend_2im1 clearfix">
											<div class="grid">
												<figure class="effect-jazz mb-0">
													<a href="#"><img src="img/6.jpg" class="w-100" alt="img25"></a>
												</figure>
											</div>
										</div>
										<div class="trend_2im2 clearfix  position-absolute w-100 top-0">
											<h5><a class="col_red" href="#">Semper</a></h5>
											<span class="col_red">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</span>
											<p class="mb-0">2 Views</p>
										</div>
									</div>

								</div>
								<div class="col">
									<div class="trend_2im clearfix position-relative">
										<div class="trend_2im1 clearfix">
											<div class="grid">
												<figure class="effect-jazz mb-0">
													<a href="#"><img src="img/7.jpg" class="w-100" alt="img25"></a>
												</figure>
											</div>
										</div>
										<div class="trend_2im2 clearfix  position-absolute w-100 top-0">
											<h5><a class="col_red" href="#">Semper</a></h5>
											<span class="col_red">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</span>
											<p class="mb-0">2 Views</p>
										</div>
									</div>

								</div>
								<div class="col">
									<div class="trend_2im clearfix position-relative">
										<div class="trend_2im1 clearfix">
											<div class="grid">
												<figure class="effect-jazz mb-0">
													<a href="#"><img src="img/8.jpg" class="w-100" alt="img25"></a>
												</figure>
											</div>
										</div>
										<div class="trend_2im2 clearfix  position-absolute w-100 top-0">
											<h5><a class="col_red" href="#">Semper</a></h5>
											<span class="col_red">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</span>
											<p class="mb-0">2 Views</p>
										</div>
									</div>

								</div>
							</div>
						</div>
						<div class="carousel-item">
							<div class="trend_2i row">
								<div class="col">
									<div class="trend_2im clearfix position-relative">
										<div class="trend_2im1 clearfix">
											<div class="grid">
												<figure class="effect-jazz mb-0">
													<a href="#"><img src="img/9.jpg" class="w-100" alt="img25"></a>
												</figure>
											</div>
										</div>
										<div class="trend_2im2 clearfix  position-absolute w-100 top-0">
											<h5><a class="col_red" href="#">Semper</a></h5>
											<span class="col_red">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</span>
											<p class="mb-0">2 Views</p>
										</div>
									</div>

								</div>
								<div class="col">
									<div class="trend_2im clearfix position-relative">
										<div class="trend_2im1 clearfix">
											<div class="grid">
												<figure class="effect-jazz mb-0">
													<a href="#"><img src="img/10.jpg" class="w-100" alt="img25"></a>
												</figure>
											</div>
										</div>
										<div class="trend_2im2 clearfix  position-absolute w-100 top-0">
											<h5><a class="col_red" href="#">Semper</a></h5>
											<span class="col_red">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</span>
											<p class="mb-0">2 Views</p>
										</div>
									</div>

								</div>
								<div class="col">
									<div class="trend_2im clearfix position-relative">
										<div class="trend_2im1 clearfix">
											<div class="grid">
												<figure class="effect-jazz mb-0">
													<a href="#"><img src="img/11.jpg" class="w-100" alt="img25"></a>
												</figure>
											</div>
										</div>
										<div class="trend_2im2 clearfix  position-absolute w-100 top-0">
											<h5><a class="col_red" href="#">Semper</a></h5>
											<span class="col_red">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</span>
											<p class="mb-0">2 Views</p>
										</div>
									</div>

								</div>
								<div class="col">
									<div class="trend_2im clearfix position-relative">
										<div class="trend_2im1 clearfix">
											<div class="grid">
												<figure class="effect-jazz mb-0">
													<a href="#"><img src="img/4.jpg" class="w-100" alt="img25"></a>
												</figure>
											</div>
										</div>
										<div class="trend_2im2 clearfix  position-absolute w-100 top-0">
											<h5><a class="col_red" href="#">Semper</a></h5>
											<span class="col_red">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</span>
											<p class="mb-0">2 Views</p>
										</div>
									</div>

								</div>
								<div class="col">
									<div class="trend_2im clearfix position-relative">
										<div class="trend_2im1 clearfix">
											<div class="grid">
												<figure class="effect-jazz mb-0">
													<a href="#"><img src="img/5.jpg" class="w-100" alt="img25"></a>
												</figure>
											</div>
										</div>
										<div class="trend_2im2 clearfix  position-absolute w-100 top-0">
											<h5><a class="col_red" href="#">Semper</a></h5>
											<span class="col_red">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</span>
											<p class="mb-0">2 Views</p>
										</div>
									</div>

								</div>
							</div>
						</div>

					</div>

				</div>
			</div>
		</div>
	</section>


	<script>
		window.onscroll = function() {myFunction()};

		var navbar_sticky = document.getElementById("navbar_sticky");
		var sticky = navbar_sticky.offsetTop;
		var navbar_height = document.querySelector('.navbar').offsetHeight;

		function myFunction() {
		if (window.pageYOffset >= sticky + navbar_height) {
		navbar_sticky.classList.add("sticky")
		document.body.style.paddingTop = navbar_height + 'px';
		} else {
		navbar_sticky.classList.remove("sticky");
		document.body.style.paddingTop = '0'
		}
		}
	</script>


</AuthorizationWrapper>

@code {

	public class Root
	{
		public List<Search> Search { get; set; }
		public string totalResults { get; set; }
		public string Response { get; set; }
	}

	public class Search
	{
		public string Title { get; set; }
		public string Year { get; set; }
		public string imdbID { get; set; }
		public string Type { get; set; }
		public string Poster { get; set; }
	}

	private List<Search> PosterData = new();

	private string queryPrefix = "";

	private string[] topFilmQueyrPrefix = ["star" , "horror" , "love" , "death"];

	private Random random = new Random();

	private List<ClientOpinion> ClientOpinions = new();

	protected override void OnInitialized()
	{
		base.OnInitialized();
		Random rnd = new Random();
		queryPrefix = topFilmQueyrPrefix.OrderBy(x => this.random.Next()).First();


	}

	protected override async Task OnInitializedAsync()
	{
		var r = await this.ClientOpinionService.FetchClientOpinions(3, 0);
		if(r.isSuccess){
			ClientOpinions = r.Data;
		}
	}


	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if(firstRender){
			var data = await HttpClient.GetFromJsonAsync<Root>($"http://www.omdbapi.com/?apikey=7f9eb87a&type=movie&r=json&s={queryPrefix}&page=1");
			if(data != null) {
				PosterData = data!.Search.OrderBy(x => this.random.Next()).Take(3).ToList();
				StateHasChanged();
			}
		}
		
	}


	private void NavigateToOpinion()
	{
		Navigation.NavigateTo("/client/opinion", true);
	}

	private void NavigateToTicketSale()
	{
		Navigation.NavigateTo("/client/ticketsale", true);
	}

	private void goToclientOpinions(){
		Navigation.NavigateTo("/clientOpinions", true);
	}

}
